@font-face {
    font-family: 'yekan';
    src: url("../fonts/titr.ttf");
}
.header,.members{
    background-image: url("../images/foodie-factor-334983.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    background-attachment: fixed;
    font-family: "yakan";
    font-size: 1.5em;
    -moz-box-shadow: 0px 0px 10px #000; /* FF3.5+ */
    -webkit-box-shadow: 0px 0px 10px #000; /* Saf3.0+, Chrome */
    box-shadow: 0px 0px 10px #000; /* Opera 10.5, IE9, Chrome 10+ */
}
.members{
    margin-top: 5vh;
    height: auto;
}

.last-release{
    padding-top: 0;
    font-family: "yekan";
    font-size: 1.5em;

}
body{

    font-family: 'yekan';
}
hr{
    margin-top: 0em;
    background-color: #f2f3f4;
    fill-opacity: 50;
}
.title{
    padding-top: 40vh;
    text-align: center;
}
.img-fluid{
    max-width: 60%;
}
.title-field{
    color: #3d99dd;
    margin-top: 5vh;
    border: #3d99dd dotted medium;
    border-radius: .5em;
    padding: 1em;

}
.title-members{
    color: #ffffff;
    margin-top: 5vh;
    border: #ffffff dotted medium;
    border-radius: .5em;
    padding: 1em;
    font-family: 'yekan';
    text-align: center;

}
#description{
    text-align: justify;
    padding-top: 4vh;
    margin-bottom: 4vh;
}
.ls-content{
    margin-top: 2em;
}
.short-article{
    text-align: justify;

    font-size: .8em;
}
.list-group{
    font-size: .8em;
}
.logo{
    padding-top: 1em;
}
#last-release{
    padding-top: 1em;
}
a:hover, a:visited{
    text-decoration: none;
}
.jumbotron{
    padding:0;
}
.name{
    font-family: 'yekan';
}
.name-des{
    font-family: 'yekan';
    color: #9605dd;
}
.cards{
    padding-top: 5vh;
}
.carousel-indicators{
    bottom: -2em;
}
.carousel-control-prev{
    left: -5em;
}
.carousel-control-next{
    right: -5em;
}